*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}
a{
    color:inherit;
}
body{
    background: #eaebed;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: #4167b2;
    color:white;
    font-size: 1em;
}
header>div{
    display: flex;
    align-items: center;
    flex: 1;
}
header input{
 font-size: 1em;
 margin-left: 5px;
 width: 50%;
 padding: 4px;
}
header>div::after{
    content: '\f002';
    font: normal normal normal 14px/1 FontAwesome;
    color: #626976;
    background: #f5f6f7;
    align-self: stretch;
    margin: 2px 0px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    position: relative;
    left: -35px;
}
header button{
    background: unset;
    border: 0px;
    display: flex;
}
.logo{
    font-size: 2em!important;
}
header a {
    color:inherit;
}
header nav{
    padding-right:10% ;
}
header nav ul{
    display: flex;
}
header nav li{
    display: block;
    padding: 10px 20px;
    border-right: 1px solid hsl(220deg 47% 44%);
}
.last-item-list{
    border-right: 0px;
}
main{
    display: flex;
    padding: 20px 10%;
}
/*
left aside
*/
.left-aside{
    width: 200px;
}
.header-left-aside{
    display: flex;
}
.left-aside li{
    display: block;
}
.news-feed{
    display: flex!important;
    justify-content: space-between;
    align-items: center;
}
/*
right aside
*/
.right-aside{
    width: 350px;
    margin-right: 10%;
}
.page-board{
    background: white;
    color:#646a73;
    padding: 20px;
}

.page-board>div{
display: flex;
justify-content: space-between;
align-items: center;
padding-bottom: 10px;
border-bottom: 1px solid #e3e4e6;
}
.page-board ul{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #cfd2d6;
    border-radius: 3px;
}
.page-board button{
    background: unset;
    border: 0px;
}
.page-board p{
    font-weight: bold;
}
.page-board button i{
    color: #646a73!important;
}
.page-board h3{
    font-size: 0.9em;
}
.page-board li{
    border-right: 1px solid #cfd2d6;
    display: block;
    flex: 1;
    padding: 10px;
    font-size: 0.7em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-board li:nth-child(1){
    background: #dedfe1;
}
.page-board li:nth-child(3){
border-right: 0px;
}
.page-board p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.langues{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.langues ul{
    display: flex;
    flex-wrap: wrap;
}
.langues li{
    display: block;
}

footer ul{
    display: flex;
    flex-wrap: wrap;
}
footer li {
    display: block;
  
}
/* 
section
*/
main section{
    flex:1;
}
main article .post-img{
    width: 100%;
}
.create-post{
    display: flex;
    align-items: center;
}
.create-post input{
    flex: 1;
}
.btns-create-post{
    display: flex;
    align-items: center;
}
.btns-create-post li{
    display: block;
}

.header-article{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.header-article>div{
    display: flex;
    align-items: center;
}
.likes-number{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.likes-btns{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


